<div id="<%= dom_id supply %>">
  <p>
    <strong>Name:</strong>
    <%= supply.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= supply.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= supply.price %>
  </p>

</div>
