.flash-message {
  background: #00c851;
  border-radius: 5px;
  position: fixed;
  bottom: 10%;
  right: 15px;
  z-index: 9999;
  max-width: 300px;
  font-size: 0.9rem;
}

.flash-message p {
  margin: 0;
  padding: 8px 12px;
  color: #fff;
}

.message-success {
  background: #00c851;
}

.message-error {
  background: red;
}

.brown-icon {
  color: saddlebrown;
}

.nav-tabs .nav-link {
  color: black; /* padrão */
}

.nav-tabs .nav-link.active {
  color: #198754 !important; /* verde Bootstrap (text-success) */
  font-weight: 600;
}

.custom-select-style {
  background-color: #e6f7ec;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  color: #5f7d71;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%2300b386' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 0.9rem;
}

.custom-select-style:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 179, 134, 0.25);
}

.form-label {
  color: #0b2e1d;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

body {
  font-family: 'Inter', sans-serif;
}
