<nav class="navbar fixed-bottom navbar-light bg-white border-top shadow-sm rounded-top-4">
  <div class="container justify-content-around text-center">
    <%= link_to admin_properties_path, class: "text-decoration-none text-success", data: { turbo: false } do %>
      <div class="d-flex flex-column align-items-center" style="font-size: 1.5rem;">
        <i class="bi bi-tree"></i>
      </div>
    <% end %>

    <%= link_to admin_production_modules_path, class: "text-decoration-none text-success", data: { turbo: false } do %>
      <div class="d-flex flex-column align-items-center" style="font-size: 1.5rem;">
        <i class="bi bi-box"></i>
      </div>
    <% end %>

    <%= link_to admin_finances_path, class: "text-decoration-none text-success", data: { turbo: false } do %>
      <div class="d-flex flex-column align-items-center" style="font-size: 1.5rem;">
        <i class="bi bi-cash-stack"></i>
      </div>
    <% end %>

    <%= link_to admin_statistics_path, class: "text-decoration-none text-success", data: { turbo: false } do %>
      <div class="d-flex flex-column align-items-center" style="font-size: 1.5rem;">
        <i class="bi bi-bar-chart"></i>
      </div>
    <% end %>
  </div>
</nav>
